---
export interface Props {
	title: string;
	variant?: 'h1' | 'h2' | 'h3' | 'h4' | 'h5' | 'h6';
	extraClasses?: string;
}

const { title, variant = "h1", extraClasses } = Astro.props;
---

{variant === 'h1' && <h1 class={`text-[6.5vw] leading-none font-bold mb-4 ${extraClasses}`}>{title}</h1>}
{variant === 'h2' && <h2 class={`text-[3vw] leading-none font-bold mb-4 ${extraClasses}`}>{title}</h2>}
{variant === 'h3' && <h3 class={`text-[1vw] leading-none  font-semibold mb-4 ${extraClasses}`}>{title}</h3>}
{variant === 'h4' && <h4 class={`text-2xl mb-4 ${extraClasses}`}>{title}</h4>}
{variant === 'h5' && <h5 class={`text-xl mb-4 ${extraClasses}`}>{title}</h5>}
{variant === 'h6' && <h6 class={`text-xl mb-4 ${extraClasses}`}>{title}</h6>}
